<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   		<meta charset="UTF-8">
      	<title>Informacões das Rotas</title>
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>   
      <div>
      	<form name='f' th:action="@{/getRotaId}" method='GET'>
         <table>
            <tr>
               <td>Id da rota pra buscar:</td>
               <td><input type='text' name='idRota' value=''></td>
            </tr>             
            <tr>
               <td><input name="submit" type="submit" value="Buscar" /></td>
            </tr>
         </table>
      </form>
      <form name='f' th:action="@{/getRotaByPartida}" method='GET'>
      <table>
      		<tr>
      			<td>Buscar rota por Partida:</td>
      			<td><input type='text' name='partida' value=''></td>
      		</tr>
      		<tr>
               <td><input name="submit" type="submit" value="Buscar" /></td>
            </tr>
      </table>
      </form>     
      <form name='f' th:action="@{/deleteRotaId}" method='GET'>
         <table>
            <tr>
               <td>Id da rota para deletar:</td>
               <td><input type='text' name='delIdRota' value=''></td>
            </tr>             
            <tr>
               <td><input name="submit" type="submit" value="Deletar" /></td>
            </tr>
         </table>
      </form>
      <form name='f' th:action="@{/updateRotaId}" method='GET'>
         <table>
            <tr>
               <td>Id da rota para atualizar:</td>
               <td><input type='text' name='updIdRota' value=''></td>
            </tr>             
            <tr>
               <td><input name="submit" type="submit" value="Atualizar" /></td>
            </tr>
         </table>
      </form>     
      </div>    
   </body>
    
</html>