<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   		<meta charset="UTF-8">
      	<title>Informacões dos Avioes</title>
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>   
      <!-- <div>
      	<form name='f' th:action="@{/getAviaoById}" method='GET'>
         <table>
            <tr>
               <td>Id do aviao pra buscar:</td>
               <td><input type="number" name='idAviao' value=''></td>
            </tr>             
            <tr>
               <td><input name="submit" type="submit" value="Buscar" /></td>
            </tr>
         </table>
      </form>
      <form name='f' th:action="@{/deleteAviao}" method='GET'>
         <table>
            <tr>
               <td>Id do avião para deletar:</td>
               <td><input type="number" name='delIdAviao' value=''></td>
            </tr>             
            <tr>
               <td><input name="submit" type="submit" value="Deletar" /></td>
            </tr>
         </table>
      </form>
      </div> -->
        <div th:switch="${avioes}">
         <h2 th:case="null">Nenhum avião!</h2>
         <div th:case="*">
         	<h2>Aviões</h2>
            	<table>
                	<thead>
                    	<tr>
                        	<th>ID</th>
                        	<th>Nome</th>
                        	<th>Modelo</th>
                        	<th>Companhia</th>
                        	<th>Qtd de passageiros</th>
                        	<th>Qtd de funcionários</th>
                        	<th>Data de fabricação</th>
                        	<th>Quantidade de viagens feitas</th>
                    	</tr>
                	</thead>
                	<tbody>
                	<tr th:each="aviao : ${avioes}">
                    	<td th:text="${aviao.getAviaoId()}"></td>
                    	<td th:text="${aviao.nome}"></td>
                    	<td th:text= "${aviao.modelo}"></td>   
                    	<td th:text= "${aviao.companhia}"></td>
                    	<td th:text= "${aviao.qtdPassageiros}"></td>
                    	<td th:text= "${aviao.qtdStaff}"></td>
                    	<td th:text= "${aviao.dtFabricacao}"></td> 
                    	<td th:text= "${aviao.qtdViagensFeita}"></td>               	
                	</tr>
            	</tbody>
        	</table>
         </div>            
    	</div>      
   </body>
    
</html>