<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   		<meta charset="UTF-8">
      	<title>Inserir Viagem</title>
   </head>
   <body>  
   		<th:block th:include="/_menu"></th:block>  	
   		<div>
   			<h1>Informação da viagem</h1>
   		</div>	
   		<form action="#" th:action="@{/addViagem}" method="post">
   			<table>
   			<tbody>
   			</tbody>
   			<tr>
               	<td>Id da rota:</td>
               	<td><input type="number" name='idRota' value='' required="required"></td>              
            </tr> 
            <tr>
            	<td>Id do avião:</td>
               	<td><input type="number" name='idAviao' value='' required="required"></td> 
            </tr>
            <tr>
               <td><input name="submit" type="submit" value="Inserir" /></td>
            </tr> 
   			</table>    	
		</form> 
		<div th:switch="${avioes}">
         <h2 th:case="null">Nenhum avião!</h2>
         <div th:case="*">
         	<h2>Aviões</h2>
            	<table>
                	<thead>
                    	<tr>
                        	<th>ID</th>
                        	<th>Nome</th>
                        	<th>Modelo</th>
                        	<th>Companhia</th>
                        	<th>Qtd de passageiros</th>
                        	<th>Qtd de funcionários</th>
                        	<th>Data de fabricação</th>
                        	<th>Quantidade de viagens feitas</th>
                    	</tr>
                	</thead>
                	<tbody>
                	<tr th:each="aviao : ${avioes}">
                    	<td th:text="${aviao.getAviaoId()}"></td>
                    	<td th:text="${aviao.nome}"></td>
                    	<td th:text= "${aviao.modelo}"></td>   
                    	<td th:text= "${aviao.companhia}"></td>
                    	<td th:text= "${aviao.qtdPassageiros}"></td>
                    	<td th:text= "${aviao.qtdStaff}"></td>
                    	<td th:text= "${aviao.dtFabricacao}"></td> 
                    	<td th:text= "${aviao.qtdViagensFeita}"></td>               	
                	</tr>
            	</tbody>
        	</table>
         </div>            
    	</div> 
    	<div>
            <h2>Rotas</h2>
            	<table>
                	<thead>
                    	<tr>
                    		<th>ID</th>
                        	<th>Partida</th>
                        	<th>Destino</th>
                        	<th>Duração</th>
                        	<th>Código</th>
                    	</tr>
                	</thead>
                	<tbody>
                	<tr th:each="rota : ${rotas}">
                		<td th:text='${rota.rotaId}'>
                    	<td th:text="${rota.partida}"></td>
                    	<td th:text="${rota.destino}"></td>
                    	<td th:text= "${rota.duracao}"></td>   
                    	<td th:text= "${rota.codigo}"></td>            	
                	</tr>
            	</tbody>
        	</table>
    	</div>              	
   </body>
</html>