<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
   		<meta charset="UTF-8">
   </head>
	<body>  
   		<th:block th:include="/_menu"></th:block>
   		<div>
            <h2>Aviões com a companhia:
            	<span th:utext="${companhia}"></span>
            </h2>          
            	<table>
                	<thead>
                    	<tr>
                        	<th>ID</th>
                        	<th>Nome</th>
                        	<th>Modelo</th>
                        	<th>Companhia</th>
                        	<th>Qtd de passageiros</th>
                        	<th>Qtd de funcionários</th>
                        	<th>Data de fabricação</th>
                        	<th>Quantidade de viagens feitas</th>
                    	</tr>
                	</thead>
                	<tbody>
                	<tr th:each="aviao : ${avioes}">
                    	<td th:text="${aviao.getAviaoId()}"></td>
                    	<td th:text="${aviao.nome}"></td>
                    	<td th:text= "${aviao.modelo}"></td>   
                    	<td th:text= "${aviao.companhia}"></td>
                    	<td th:text= "${aviao.qtdPassageiros}"></td>
                    	<td th:text= "${aviao.qtdStaff}"></td>
                    	<td th:text= "${aviao.dtFabricacao}"></td> 
                    	<td th:text= "${aviao.qtdViagensFeita}"></td>               	
                	</tr>
            	</tbody>
        	</table>
    	</div>       
	</body>

</html>