<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   		<meta charset="UTF-8">
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>   
        <div th:switch="${rotas}">
         <h2 th:case="null">Nenhuma rota!</h2>
         <div th:case="*">
         	<h2>Rotas com a duração:
         		<span th:utext="${duracao}"></span>
         	</h2>
            	<table>
                	<thead>
                    	<tr>
                        	<th>ID</th>
                        	<th>Partida</th>
                        	<th>Destino</th>
                        	<th>Duração</th>
                        	<th>Código</th>
                    	</tr>
                	</thead>
                	<tbody>
                	<tr th:each="rota : ${rotas}">
                    	<td th:text="${rota.rotaId}"></td>
                    	<td th:text="${rota.partida}"></td>
                    	<td th:text= "${rota.destino}"></td>   
                    	<td th:text= "${rota.duracao}"></td>
                    	<td th:text= "${rota.codigo}"></td>        	
                	</tr>
            	</tbody>
        	</table>
         </div>            
    	</div>      
   </body>
    
</html>